{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'style/index.css' %}"/>
    <title>React Django Learning</title>

</head>

<body>

<div class="container">
    <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
    <h1>React</h1>
    <div class="welcome-back"></div>
    <div class="app"></div>
</div>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/babel" src="{% static 'react/learning.js' %}"></script>
<script type="text/babel" src="{% static 'react/cool.js' %}"></script>
<script type="text/babel" src="{% static 'react/http_common.js' %}"></script>
<script type="text/babel" src="{% static 'react/todo_service.js' %}"></script>
<script type="text/babel" src="{% static 'react/todo.js' %}"></script>

<script type="text/babel">
    {#ReactDOM.render(<WelcomeBack/>, document.querySelector(".welcome-back"));#}
    ReactDOM.render(<App/>, document.querySelector('.app'))
</script>

</body>

</html>